<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <!-- サーブレットの登録 -->
    <servlet>
        <!-- サーブレット名を hello として登録する -->
        <servlet-name>hello</servlet-name>
        <!-- サーブレットクラスは HelloServlet（拡張子は付けない） -->
        <servlet-class>HelloServlet</servlet-class>
    </servlet>

    <!-- URLとサーブレットの対応付け -->
    <servlet-mapping>
        <!-- 上で登録した hello というサーブレット名を指定する -->
        <servlet-name>hello</servlet-name>
        <!-- /hello というパスにアクセスしたとき、helloサーブレットを実行する -->
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

     <servlet>
        <!-- サーブレット名を hello として登録する -->
        <servlet-name>bye</servlet-name>
        <!-- サーブレットクラスは HelloServlet（拡張子は付けない） -->
        <servlet-class>ByeByeServlet</servlet-class>
    </servlet>

    <!-- URLとサーブレットの対応付け -->
    <servlet-mapping>
        <!-- 上で登録した hello というサーブレット名を指定する -->
        <servlet-name>bye</servlet-name>
        <!-- /hello というパスにアクセスしたとき、helloサーブレットを実行する -->
        <url-pattern>/byebye</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>TeacherServlet</servlet-name> 
    <servlet-class>your.package.TeacherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/TeacherServlet</url-pattern> 
    </servlet-mapping>

    <servlet>
        <servlet-name>time</servlet-name>
        <jsp-file>/CurrentTime.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>time</servlet-name>
        <url-pattern>/CurrentTime</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>my_name</servlet-name>
        <servlet-class>MyName</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>my_name</servlet-name>
        <url-pattern>/MyName</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>counter</servlet-name>
        <servlet-class>Counter</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>counter</servlet-name>
        <url-pattern>/Counter</url-pattern>
    </servlet-mapping>
 

 <servlet>
        <servlet-name>familyname</servlet-name>
        <servlet-class>Familyname</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>familyname</servlet-name>
        <url-pattern>/Familyname</url-pattern>
    </servlet-mapping>
    

    <!-- /inputtest → /input.jsp -->
    <servlet>
        <servlet-name>oinputtest</servlet-name>
        <jsp-file>/oinput.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>oinputtest</servlet-name>
        <url-pattern>/oinputtest</url-pattern>
    </servlet-mapping>

    <!-- /registtest → OregistTestServlet -->
    <servlet>
        <servlet-name>oregisttest</servlet-name>
        <servlet-class>OregistTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>oregisttest</servlet-name>
        <url-pattern>/oregisttest</url-pattern>
    </servlet-mapping>

    <!-- /registresult → /oregistresult.jsp -->
    <servlet>
        <servlet-name>oregistresult</servlet-name>
        <jsp-file>/oregistresult.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>oregistresult</servlet-name>
        <url-pattern>/oregistresult</url-pattern>
    </servlet-mapping>

</web-app>


